@font-face {
    font-family: BentonSansRegular;
    src: url(../fonts/BentonSans-Regular.ttf);
}

@font-face {
    font-family: BentonSansBook;
    src: url(../fonts/BentonSans-Book.ttf);
}

@font-face {
    font-family: BentonSansMedium;
    src: url(../fonts/BentonSans-Medium.ttf);
}

@font-face {
    font-family: BentonSansBold;
    src: url(../fonts/BentonSans-Bold.ttf);
}