// back to top 
.back-to-top {

    small {
        color: #fff;
        font-size: 12px;
    }

    .btn {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        padding: 0;
        color: #0033AA;
        background-color: #fff;
    }
}

.footer {
    background-color: #0A2240;
    background-image: url('../images/footer/footer-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;

    ul {
        padding: 10px 0;

        li {
            list-style: none;
            padding: 5px 0;

            .footer-link {
                font-family: BentonSansMedium;
                color: #fff;
                font-size: 12px;
            }
        }
    }

    .social-link {
        h4 {
            font-family: BentonSansBold;
            color: #FFF;
            font-size: 14px;
            margin-top: 20px;
        }

        .social-icon-wrapper {
            display: flex;

            a {
                display: grid;
                place-items: center;
                width: 20px;
                height: 20px;
                font-size: 14px;
                background-color: #fff;
                border-radius: 5px;
                color: #0A2240;
                text-align: center;
                margin-right: 20px;
                transition: all 0.2s linear;

                &:hover {
                    color: #fff;
                    background-color: rgba(#0062e1, 0.8);
                }
            }
        }
    }
}